:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }


  /* Heading */
  h1 {
      font-size: 50px;
      text-align: center;
  }


  /*User Interface*/
  #gridSetup {
    text-align: center;
  }

  button {
      padding: 5px;
      margin: 10px;
  }

  label {
    padding: 5px;
  }

  /*Grid Formatting*/
  #container {
    display: grid;
    grid-gap: 0.2em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols),  1fr);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  } 


