:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --grid-item-padding: 10px; 
  }

  /* Heading */
  h1 {
      font-size: 50px;
      text-align: center;
  }

 /*User Interface*/
  #gridSetup {
    text-align: center;
  }

  button {
      padding: 5px;
      margin: 10px;
  }

  label {
    padding: 5px;
  }

  /*Grid Formatting*/
  #container {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols),  1fr);
    width: 50%;
    margin: auto;
  }
  
  .grid-item {
    padding: var(--grid-item-padding);
    border: 1px solid #ddd;
    text-align: center;
  } 


